:root {
    --primary-color: #fff;
    --secondary-color: #303030;
    --accent-color: #16e0bd;
    --fs-h1: 4.5rem;
    --fs-body: 1.125;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1 {
    color: var(--primary-color);
    align-items: center;
}

header {

    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;

  }

  header nav {
    margin: 7px 0;

}

  header nav ul {
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--primary-color);
    padding: 10px 15px;
  }

body {
    color: var(--secondary-color);
    background: var(--primary-color);
    line-height: 1.6;
    font-size: var(--fs-body);
    margin: 0;
    background-color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    padding: 60px;
}

h2 {
    margin: 0;
    line-height: 1.1;
    font-size: var(--fs-h1);

}

.Me {
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.Me p {
    background-color: var(--accent-color);
    text-align: center;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
}

.about-img {

    max-width: 600px;
}

.Me {
    position: relative;
}

.contact {
    background-image: url(../images/work.webp);
    background-size: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h3 {
    color: var(--secondary-color);
    margin: 0;
    line-height: 1.1;
    font-size: var(--fs-h1);
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}
h4 {
    color: var(--secondary-color);
    
}

h6 {
    margin: 0;
    line-height: 1.1;
    font-size: var(--fs-h1);
    color: var(--accent-color);
}

@media screen and (max-width: 980px) {
header {
    padding-bottom: 0;
    justify-content: center;
    position: relative; }
}
header h1 {
    width: 100%;
    text-align: center; 
}
header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
.Me p {
    text-align: center;
}
@media screen and (max-width: 800px) {
    :root { 
    --fs-h1: 3rem;
    --fs-body: 1.125; }
    }
    @media screen and (max-width: 575px) {
    .about-img {

    max-width: 320px; }
    h3 {
        width: 100%;
    }
    }